.logo{
 object-fit: contain;
 height: 70px;
 cursor: pointer;
}

.nav{
 height: 70px;
 box-shadow: 0px 1px 6px grey;
 display: flex;
 align-items: center;
}

.menu{
  flex: 0.48;
  padding-left: 15px;
}
