.news-card {
  display: flex;
  width: 100%;
  box-shadow: 0px 2px 5px rgb(59, 59, 59);
  padding: 10px;
  margin-bottom: 25px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.news-img {
  object-fit: cover;
  width: 300px;
  height: 270px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  transition: all 0.3s;
  box-shadow: 0px 2px 5px rgb(59, 59, 59);
}

.news-img:hover {
  transform: scale(1.03);
}

.news-description {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
}

.author {
  font-size: 13px;
  color: grey;
}

.titile {
  font-size: 18px;
  font-weight: 500;
}

.author > a {
  text-decoration: none;
  font-weight: 500;
  color: black;
  font-size: 15px;
}

.source {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.description {
  margin-top: 5px;
}

@media (max-width: 850px) {
  .news-card {
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin: auto;
    margin-bottom: 3rem;
  }

  .news-description {
    margin-top: 1rem;
  }

  .news-img {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .news-card {
    width: 100%;
  }
}
